


/*nav */
.jumbotron {
  background-color: #ffeef1;
}
.bg-dark {
  background: #000080!important;
}


/*about page */

.about-photo img {
  max-width: 100%;
	-moz-border-radius: 2%;
	-webkit-border-radius: 2%;
	border-radius: 2%;
	padding: 1% 2%;
	margin-bottom: .5%;
}





/*contact me page */

fieldset {
	background: #ffeef1;
	border-color: #000080;
	border-style: solid;
	border-width: 3%;
	-moz-border-radius: 2%;
	-webkit-border-radius: 2%;
	border-radius: 2%;
	padding: 1% 2%;
	margin-bottom: .5%;
}

label{
	font-weight: normal;
}

legend {
	font-weight: bold;
	color: #000080;
}

textarea {
  width: 100%;
  height: 30vh;
}



input {
  width: 100%;
}

.submit-btn {
  width: 100px;
}






.card-img-top{
height: 225px;
width: 100%;
display: block;

}

.painting-pics{
  height: 225px;
  width: 25%;
  display: block;
}


.photo-cell img{
  width: 100%;
}

fieldset {
  display: block;
  width: 100%
}

resp-img {
  padding: 10px;
}


/*photo gallery*/
.crafts{
	display: block;
	margin: auto;
	max-width: 1200px;
}
.photo-cell{
	margin-bottom: 2%;
	margin-left: 2%;
}
.photo-cell img {
	width: 98%;
  	display: block;
  	box-shadow: 0px 0px 10px rgba(141, 141, 139, .75);
}








@media only screen and (min-width: 650px){

  /*images*/

  .photo-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;  /*for each column(2) width is auto*/
  }

  .photo-cell{
    /*grid-column-start: 1;
    grid-column-end: 3; */
    grid-column: span 2;

  }

  .photo-cell:nth-child(1), .photo-cell:nth-child(2){
    grid-column: span 1;
  }

  .photo-cell:nth-child(4), .photo-cell:nth-child(5){
    grid-column: span 1;
  }

  .photo-cell:nth-child(7), .photo-cell:nth-child(8){
    grid-column: span 1;
  }

  .photo-cell:nth-child(10), .photo-cell:nth-child(11){
    grid-column: span 1;
  }

  /*body{
    background-color: green;
  }*/
}









@media only screen and (min-width: 1000px) {


/*images*/

  .photo-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /*or could change from fractions to auto auto auto*/
  }

  .photo-cell{
    grid-column: span 1;
  }



  /*.photo-cell:nth-child(1), .photo-cell:nth-child(2), .photo-cell:nth-child(5), .photo-cell:nth-child(6), .photo-cell:nth-child(7){
    grid-column: span 2;
  }*/



  /* .photo-cell:nth-child(3){
    grid-column: span 2;
  }

 .photo-cell:nth-child(7){
    grid-column: span 2;
  }

  .photo-cell:nth-child(9){
     grid-column: span 3;
   } */














}
